<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Emailcapture>
            <version>1.0.0</version>
        </Bronto_Emailcapture>
    </modules>
    <global>
        <helpers>
            <bronto_emailcapture>
                <class>Bronto_Emailcapture_Helper</class>
            </bronto_emailcapture>
        </helpers>
        <blocks>
            <bronto_emailcapture>
                <class>Bronto_Emailcapture_Block</class>
            </bronto_emailcapture>
        </blocks>
        <models>
            <bronto_emailcapture>
                <class>Bronto_Emailcapture_Model</class>
                <resourceModel>bronto_emailcapture_mysql4</resourceModel>
            </bronto_emailcapture>
            <bronto_emailcapture_mysql4>
                <class>Bronto_Emailcapture_Model_Mysql4</class>
                <entities>
                    <queue>
                        <table>bronto_emailcapture_queue</table>
                    </queue>
                </entities>
            </bronto_emailcapture_mysql4>
        </models>
        <resources>
            <bronto_emailcapture_setup>
                <setup>
                    <module>Bronto_Emailcapture</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bronto_emailcapture_setup>
            <bronto_emailcapture_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bronto_emailcapture_write>
            <bronto_emailcapture_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bronto_emailcapture_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <bronto_emailcapture>
                    <file>bronto/emailcapture.xml</file>
                </bronto_emailcapture>
            </updates>
        </layout>
        <routers>
            <bronto_emailcapture>
                <use>standard</use>
                <args>
                    <module>Bronto_Emailcapture</module>
                    <frontName>emailcapture</frontName>
                </args>
            </bronto_emailcapture>
        </routers>
        <events>
            <newsletter_subscriber_save_after>
                <observers>
                    <bronto_emailcapture_newsletter_subscriber_save_after>
                        <class>bronto_emailcapture/observer</class>
                        <method>newsletterSubscriberSaveAfter</method>
                    </bronto_emailcapture_newsletter_subscriber_save_after>
                </observers>
            </newsletter_subscriber_save_after>
            <sales_quote_save_after>
                <observers>
                    <bronto_emailcapture_quote_save_after>
                        <class>bronto_emailcapture/observer</class>
                        <method>addEmailToQuote</method>
                    </bronto_emailcapture_quote_save_after>
                </observers>
            </sales_quote_save_after>
        </events>
    </frontend>
    <default>
        <bronto_reminder>
            <settings>
                <cookie_ttl>365</cookie_ttl>
                <field_selector>input.validate-email</field_selector>
            </settings>
        </bronto_reminder>
    </default>
    <crontab>
        <jobs>
            <bronto_emailcapture_flush_queue>
                <!-- Run once a day -->
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>bronto_emailcapture/observer::flushQueue</model>
                </run>
            </bronto_emailcapture_flush_queue>
        </jobs>
    </crontab>

    <phpunit>
        <suite>
            <modules>
                <Bronto_Emailcapture/>
            </modules>
        </suite>
    </phpunit>
</config>