<?xml version="1.0"?>
<!--
/**
 * @category    Solide Webservices
 * @package     Flexslider
 */
-->
<config>
	<modules>
		<SolideWebservices_Flexslider>
			<version>1.7.1</version>
		</SolideWebservices_Flexslider>
	</modules>
	<global>
		<helpers>
            <flexslider>
                <class>SolideWebservices_Flexslider_Helper</class>
            </flexslider>
        </helpers>
		<blocks>
			<flexslider>
				<class>SolideWebservices_Flexslider_Block</class>
			</flexslider>
			<page>
				<rewrite>
					<html_head>SolideWebservices_Flexslider_Block_Page_Html_Head</html_head>
				</rewrite>
			</page>
		</blocks>
		<models>
			<flexslider>
				<class>SolideWebservices_Flexslider_Model</class>
				<resourceModel>flexslider_mysql4</resourceModel>
			</flexslider>
			<flexslider_mysql4>
				<class>SolideWebservices_Flexslider_Model_Mysql4</class>
				<entities>
					<group>
						<table>flexslider_group</table>
					</group>
					<slide>
						<table>flexslider_slide</table>
					</slide>
					<flexslider_category>
						<table>flexslider_category</table>
					</flexslider_category>
					<flexslider_page>
						<table>flexslider_page</table>
					</flexslider_page>
					<flexslider_store>
						<table>flexslider_store</table>
					</flexslider_store>
					<flexslider_product>
						<table>flexslider_product</table>
					</flexslider_product>
				</entities>
			</flexslider_mysql4>
		</models>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<flexslider_layout_generate_observer>
						<type>singleton</type>
						<class>flexslider/layout_generate_observer</class>
						<method>loadScripts</method>
					</flexslider_layout_generate_observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
		<resources>
			<flexslider_setup>
				<setup>
					<module>SolideWebservices_Flexslider</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</flexslider_setup>
			<flexslider_read>
				<connection>
					<use>core_read</use>
				</connection>
			</flexslider_read>
			<flexslider_write>
				<connection>
					<use>core_write</use>
				</connection>
			</flexslider_write>
		</resources>
    </global>
	<frontend>
		<routers>
            <flexslider>
                <use>standard</use>
                <args>
                    <module>SolideWebservices_Flexslider</module>
                    <frontName>flexslider</frontName>
                </args>
            </flexslider>
        </routers>
		<layout>
			<updates>
				<flexslider>
					<file>flexslider.xml</file>
				</flexslider>
			</updates>
		</layout>
		<translate>
            <modules>
                <SolideWebservices_Flexslider>
                    <files>
                        <default>SolideWebservices_Flexslider.csv</default>
                    </files>
                </SolideWebservices_Flexslider>
            </modules>
        </translate>
	</frontend>
	<admin>
		<routers>
			<flexslider_admin>
				<use>admin</use>
				<args>
					<module>SolideWebservices_Flexslider</module>
					<frontName>admin_flexslider</frontName>
				</args>
			</flexslider_admin>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<flexslider>
					<file>flexslider.xml</file>
				</flexslider>
			</updates>
		</layout>
		<translate>
            <modules>
                <SolideWebservices_Flexslider>
                    <files>
                        <default>SolideWebservices_Flexslider.csv</default>
                    </files>
                </SolideWebservices_Flexslider>
            </modules>
        </translate>
	</adminhtml>
    <default>
        <flexslider>
            <general>
                <enabled>1</enabled>
				<enable_jquery>1</enable_jquery>
				<version_jquery>1.11.0</version_jquery>
				<jquery_noconflictmode>1</jquery_noconflictmode>
				<jquery_position>after</jquery_position>
				<enable_easing>1</enable_easing>
				<thumbnail_upload_width>200</thumbnail_upload_width>
            </general>
			<advanced_settings>
				<enable_selected_positions>1</enable_selected_positions>
				<enable_global_positions>0</enable_global_positions>
				<enable_customer_positions>0</enable_customer_positions>
				<enable_checkout_positions>0</enable_checkout_positions>
			</advanced_settings>
        </flexslider>
    </default>
</config>