/**
*
* This file is generated automaticaly. Please do no edit it directly cause all changes will be lost.
*
*/
/*====== Font Replacement - Titles =======*/ 
.nav-container li.level-top > a span,
header#header .top-cart .block-title .title-cart,
#footer .footer-block-title h2,
#footer .footer-topline .custom-footer-content li > span h3,
#footer .footer-address-block p,
.products-grid .product-name a,
.price,
.btn-quick-view span,
.products-list .product-name a,
.minimal-price-link .label,
.page-title h1,
.page-title h2,
.page-title h3,
.page-title h4,
.page-title h5,
.page-title h6,
.widget-title h1,
.widget-title h2,
.widget .widget-title h1,
.widget .widget-title h2,
aside.sidebar .block.block-layered-nav dl dt h2,
aside.sidebar .block.block-layered-nav dl dd a,
aside.sidebar .block.block-layered-nav dl dd li span,
aside.sidebar .block.block-layered-nav #amount,
aside.sidebar .block.block-layered-nav #amount-2,
aside.sidebar .block-title strong span,
.block-vertical-nav li.level-top a.level-top,
aside.sidebar .product-name a,
.block-poll label,
aside.sidebar .block .block-subtitle,
.sorter .sort-by label,
.toolbar .sbSelector > span,
.label-new,
.label-sale,
.pager .pages ol li.current,
.pager .pages ol li a,
.product-view .product-shop .product-name h1,
.meigee-tabs a,
.rating-subtitle h2,
.catalog-product-view .box-reviews ul li h6 a,
.block-related .product-name a,
.block-related .block-title strong span,
.block-related .block-content .block-subtitle a,
.product-collateral h2,
.product-options-title h2,
.price-as-configured .price-label,
header#header .top-cart .product-name a,
.cart .page-title h1,
.data-table .product-name a,
.cart-blocks-title h2,
section .crosssell .product-details .product-name a,
#cart-accordion h3.accordion-title,
#cart-accordion .accordion-content .crosssell li.item .product-name a,
aside.sidebar .block-account li a,
aside.sidebar .block-account li strong,
.dashboard .welcome-msg .hello,
.dashboard .box-title h2,
.dashboard .box-title h3,
.dashboard .box-head h3,
.dashboard .box-head h2,
.fieldset .legend,
.addresses-list .addresses-primary h2,
.addresses-list .addresses-additional h2,
.product-review .product-name,
header#header .top-cart .block-content .subtotal span,
#login-holder .page-title h1,
#login-holder form p,
#login-holder .link-box a,
.onepagecheckout-index-index .main-container .page-title,
#onepagecheckout_orderform .col3-set.onepagecheckout_datafields .op_block_title,
.opc h3,
.opc .step-title h2,
.multiple-checkout h2,
.nav-wide#nav-wide .top-content .top-menu-features li span h3,
.nav-wide#nav-wide ul.level0 li.level1 span.subtitle,
.header-slider-container .iosSlider .slider .item h2,
.header-slider-container .iosSlider .slider .item h3,
.header-slider-container .iosSlider .slider .item .slide-container.slide-skin-2 p,
.header-slider-container .iosSlider .slider .item .slide-container.slide-skin-2 h4,
#login-form h2,
.quick-view-title h2,
.block-subscribe .form-subscribe-header label,
.block-subscribe-popup .indent h3,
aside.sidebar .block.block-layered-nav .currently .label {font-family: Lato, sans-serif;}

/*====== Site Bg =======*/
body {background-color:#FFFFFF;}

/*====== Skin Color #1 =======*/
a:hover,
#footer .footer-address-block p a:hover,
#footer address a:hover,
.products-grid .product-name a:hover,
.regular-price .price,
.special-price .price,
.price-from .price,
.price-to .price,
.products-grid .add-to-links li i:hover,
.products-list .product-name a:hover,
.minimal-price-link .price,
.products-list .add-to-links i:hover,
#categories-accordion li.level-top a.level-top:hover,
#categories-accordion li.level-top.parent ul.level0 li a:hover,
#categories-accordion .btn-cat.closed > i,
.block-compare li.item .btn-remove i:hover,
.availability.out-of-stock span,
.availability-only i,
div.quantity-decrease i:hover,
div.quantity-increase i:hover,
.catalog-product-view .box-reviews .form-add h3 span,
.catalog-product-view .box-reviews ul li small span,
.block-related .product-name a:hover,
.block-related .block-content .block-subtitle a:hover,
.product-options-bottom  i:hover,
.price-as-configured .price,
header#header .top-cart .product-name a:hover,
header#header .top-cart .block-content .mini-products-list .product-details .price,
.data-table .product-name a:hover,
.data-table .c_actions a i:hover,
.data-table .cart-price .price,
.data-table .remove i:hover,
.sp-methods .price,
.cart .totals .checkout-types li a:hover,
.dashboard .box-title a i:hover,
.dashboard .box-head a i:hover,
.my-account .addresses-list li.item a:hover,
.my-account .data-table a:hover,
.my-wishlist .data-table .table-buttons a i:hover,
header#header .top-cart .block-content .subtotal .price,
#login-holder form .actions > a:hover,
#login-holder .link-box a:hover,
.onepagecheckout_loginarea .onepagecheckout_loginlink:hover,
.onepagecheckout-index-index #onepagecheckout_forgotbox.op_login_area #forgot-password-form .onepagecheckout_loginlink:hover,
 .onepagecheckout-index-index #onepagecheckout_loginbox.op_login_area #login-form .onepagecheckout_forgotlink:hover,
.opc .grid_4 a:hover,
.multiple-checkout .grand-total .price,
nav.breadcrumbs li a:hover,
nav.breadcrumbs li a:hover + span,
.nav-wide#nav-wide .top-content .top-menu-links li a,
header#header .customer-name .user i,
.tags-list li a:hover,
.header-slider-container .iosSlider .slider .item .slide-container.slide-skin-2 h3 span,
.header-slider-container .iosSlider .slider .item .slide-container.slide-skin-3 h3 span,
.product-view .product-shop .add-to-links-box i:hover,
#cart-accordion .accordion-content .crosssell li.item .product-name a:hover {color: #FF1341;}

#footer .block-tags .actions a:hover,
button.button:hover > span,
ul.social-links li a i:hover,
#footer .block-tags .tags-list li a:hover,
.ui-slider .ui-slider-range,
.block-compare .actions a:hover,
.block-compare .actions button span,
aside.sidebar .block-tags li a:hover,
aside.sidebar .block-tags .actions a:hover,
aside.sidebar .block-reorder .actions a:hover,
.block-reorder .actions button span,
aside.sidebar .block.block-wishlist .actions a:hover,
.sorter .view-mode a:hover i,
.sorter .view-mode strong i,
.sorter a.desc i:hover,
.sorter a.asc i:hover,
div.label-sale,
.products-grid .availability-only,
.products-list .availability-only,
.add-to-cart button.button span,
.catalog-product-view .box-reviews .full-review,
.iwdbutton button.button span,
.cart .btn-proceed-checkout span,
header#header .top-cart .block-content .actions .button span,
.cart-table .buttons-row button.btn-continue:hover span,
.my-wishlist .buttons-set .btn-update:hover span,
header#header .top-cart .block-content .actions a:hover,
#checkout-coupon-discount-load .discount-form .buttons-set button.button:hover span span,
#onepagecheckout_orderform  #checkout-review-submit button span span,
#onepagecheckout_forgotbox button.button:hover span span,
#onepagecheckout_loginbox button.button:hover span span,
nav.breadcrumbs li span:after,
.header-slider-container .iosSlider .prev:hover i,
.header-slider-container .iosSlider .next:hover i,
.cart-remove-box a:hover,
.add-to-cart-success a:hover,
#login-holder form .actions button:hover span span,
table#wishlist-table td .cart-cell button.button:hover span span,
.block-subscribe-popup .indent button.button:hover span span,
aside.sidebar .block.block-layered-nav .actions a:hover {background-color: #FF1341;}

.label-type-5 div.label-sale:before,
.products-grid.label-type-5 .availability-only:before,
.products-list.label-type-5 .availability-only:before{
	border-top-color: #ff1341;
}
.label-type-5 div.label-sale:after,
.products-grid.label-type-5 .availability-only:after,
.products-list.label-type-5 .availability-only:after{
	border-bottom-color: #ff1341;
}

#footer .block-tags .actions a:hover,
button.button:hover span,
#footer .block-tags .tags-list li a:hover,
.block-compare .actions a:hover,
.block-compare .actions button span,
aside.sidebar .block-tags li a:hover,
aside.sidebar .block-tags .actions a:hover,
aside.sidebar .block-reorder .actions a:hover,
.block-reorder .actions button span,
aside.sidebar .block.block-wishlist .actions a:hover,
.add-to-cart button.button span,
.iwdbutton button.button span,
.cart .btn-proceed-checkout span,
header#header .top-cart .block-content .actions .button span,
.cart-table .buttons-row button.btn-continue:hover span,
.my-wishlist .buttons-set .btn-update:hover span,
header#header .top-cart .block-content .actions a:hover,
#checkout-coupon-discount-load .discount-form .buttons-set button.button:hover span,
#onepagecheckout_orderform  #checkout-review-submit button > span,
#onepagecheckout_forgotbox button.button:hover > span,
#onepagecheckout_loginbox button.button:hover > span,
.cart-remove-box a:hover,
.add-to-cart-success a:hover,
#login-holder form .actions button:hover > span,
.block-subscribe-popup .indent button.button:hover > span,
aside.sidebar .block.block-layered-nav .actions a:hover {border-color: #FF1341;}

/*====== Skin Color #2 =======*/
a,
.onepagecheckout_loginarea .onepagecheckout_loginlink,
.nav-wide#nav-wide .top-content .top-menu-links li a:hover,
.header-slider-container .iosSlider .slider .item h3,
.header-slider-container .iosSlider .slider .item .slide-container.slide-skin-2 h4,
.header-slider-container .iosSlider .slider .item .slide-container.slide-skin-3 h4 {color: #F8BA75;}

.products-grid .btn-quick-view > span,
.products-list .btn-quick-view > span {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCF8BA75,endColorstr=#CCF8BA75);
	background-color: rgba(248,186,117, 0.8);
}

.products-grid .btn-quick-view:hover > span,
.products-list .btn-quick-view:hover > span,
span.label-new {background-color: #F8BA75;}

.label-type-5 span.label-new:before{
    border-top-color: #F8BA75;
}
.label-type-5 span.label-new:after{
    border-bottom-color: #F8BA75;
}

.product-view .product-name div.sku::selection {background-color: #F8BA75;}
.product-view .product-name div.sku::-moz-selection {background-color: #F8BA75;}

