<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Watsons_Sync>
            <version>1.0.4</version>
        </Watsons_Sync>
    </modules>
    <global>
        <models>
            <sync>
                <class>Watsons_Sync_Model</class>
            </sync>
        </models>
        <blocks>
            <sync>
                <class>Watsons_Sync_Block</class>
            </sync>
        </blocks>
        <helpers>
            <sync>
                <class>Watsons_Sync_Helper</class>
            </sync>
        </helpers>
        <resources>
            <sync_setup>
                <setup>
                    <module>Watsons_Sync</module>
                </setup>
            </sync_setup>
            <sync_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sync_write>
            <sync_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sync_read>
        </resources>
    </global>
    <admin>
        <routers>
            <sync>
                <use>admin</use>
                <args>
                    <module>Watsons_Sync</module>
                    <frontName>sync</frontName>
                </args>
            </sync>
        </routers>
    </admin>
</config>
