<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Customer>
            <version>1.0.3</version>
        </Bronto_Customer>
    </modules>
    <global>
        <blocks>
            <bronto_customer>
                <class>Bronto_Customer_Block</class>
            </bronto_customer>
        </blocks>
        <helpers>
            <bronto_customer>
                <class>Bronto_Customer_Helper</class>
            </bronto_customer>
        </helpers>
        <models>
            <bronto_customer>
                <class>Bronto_Customer_Model</class>
                <resourceModel>bronto_customer_mysql4</resourceModel>
            </bronto_customer>
            <bronto_customer_resource>
                <rewrite>
                    <customer_resource>Bronto_Company_Model_Resource_Customer</customer_resource>
                </rewrite>
            </bronto_customer_resource>
            <bronto_customer_mysql4>
                <class>Bronto_Customer_Model_Mysql4</class>
                <entities>
                    <queue>
                        <table>bronto_customer_queue</table>
                    </queue>
                </entities>
            </bronto_customer_mysql4>
        </models>
        <resources>
            <bronto_customer_setup>
                <setup>
                    <module>Bronto_Customer</module>
                    <class>Bronto_Customer_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bronto_customer_setup>
            <bronto_customer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bronto_customer_write>
            <bronto_customer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bronto_customer_read>
        </resources>
        <events>
            <customer_save_after>
                <observers>
                    <bronto_customer_sales_customer_save_after>
                        <type>singleton</type>
                        <class>bronto_customer/observer</class>
                        <method>markCustomerForReimport</method>
                    </bronto_customer_sales_customer_save_after>
                </observers>
            </customer_save_after>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <bronto_customer_controller_action_postdispatch_adminhtml_system_config_save>
                        <type>singleton</type>
                        <class>bronto_customer/observer</class>
                        <method>saveDynamicField</method>
                    </bronto_customer_controller_action_postdispatch_adminhtml_system_config_save>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_customer before="Mage_Adminhtml">Bronto_Customer_Adminhtml</bronto_customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <bronto_customer_enable>
                <observers>
                    <bronto_customer_enable>
                        <type>singleton</type>
                        <class>bronto_customer/observer</class>
                        <method>watchEnableAction</method>
                    </bronto_customer_enable>
                </observers>
            </bronto_customer_enable>
        </events>
    </adminhtml>
    <default>
        <bronto_customer>
            <settings>
                <enabled>0</enabled>
                <mage_cron>1</mage_cron>
                <frequency>D</frequency>
                <interval>15</interval>
                <minutes>0</minutes>
                <limit>100</limit>
                <sync_limit>1000</sync_limit>
            </settings>
            <attributes>
                <prefix>_none_</prefix>
                <firstname>firstname</firstname>
                <middlename>_none_</middlename>
                <lastname>lastname</lastname>
                <suffix>_none_</suffix>
                <gender>gender</gender>
                <dob>birthday</dob>
                <taxvat>_none_</taxvat>
                <website_id>_none_</website_id>
                <group_id>_none_</group_id>
                <created_at>_none_</created_at>
                <created_in>_none_</created_in>
            </attributes>
            <address_attributes>
                <street>address1</street>
                <city>city</city>
                <region>state</region>
                <postcode>postal_code</postcode>
                <country_id>country</country_id>
                <company>_none_</company>
                <telephone>phone_home</telephone>
                <fax>_none_</fax>
            </address_attributes>
        </bronto_customer>
    </default>
    <crontab>
        <jobs>
            <bronto_customer_import>
                <run>
                    <model>bronto_customer/observer::processCustomers</model>
                </run>
            </bronto_customer_import>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Bronto_Customer/>
            </modules>
        </suite>
    </phpunit>
</config>
