/app/design/adminhtml/default/default/template/alekseon
/app/code/community/Alekseon
/app/etc/modules/Alekseon_ModulesConflictDetector.xml
/modules_conflict_detector-0.1.0.4.tgz
/.htaccess
!*/.htaccess

/app/etc/local.xml
media/customer/
media/dhl/
media/downloadable/
media/import/
media/xmlconnect/
media/catalog/
media/wysiwyg/
media/email/
media/enterprise/
/package.xml
media/captcha/
media/custom_options/
media/tmp/
media/wrapping/
/var/*

/index.php
!*/index.php


#IDE
.idea

#Vagrant
.vagrant/*
bootstrap.sh
Vagrantfile

#Deployment
deploy.php
