/.htaccess
!*/.htaccess

/app/etc/local.xml
media/customer/
media/dhl/
media/downloadable/
media/import/
media/xmlconnect/
media/catalog/
media/wysiwyg/
media/email/
media/enterprise/
media/captcha/
media/custom_options/
media/tmp/
media/wrapping/
/var/*

/index.php
!*/index.php


#IDE
.idea

#Vagrant
.vagrant/*
bootstrap.sh
Vagrantfile

#Deployment
deploy.php
