<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Amasty_Zoom>
            <version>2.0.0</version>
        </Amasty_Zoom>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Amasty_Zoom>
                    <files>
                        <default>Amasty_Zoom.csv</default>
                    </files>
                </Amasty_Zoom>
            </modules>
        </translate>
        <layout>
            <updates>
                <amzoom>
                    <file>amasty/amzoom.xml</file>
                </amzoom>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Amasty_Zoom>
                    <files>
                        <default>Amasty_Zoom.csv</default>
                    </files>
                </Amasty_Zoom>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <amzoom translate="title" module="amzoom">
                                            <title>Zoom Pro</title>
                                        </amzoom>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <amzoom>
                <class>Amasty_Zoom_Model</class>
                <resourceModel>amzoom_mysql4</resourceModel>
            </amzoom>
        </models>
		<resources>
             <amzoom_setup>
                <setup>
                    <module>Amasty_Zoom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amzoom_setup>
		    <amzoom_write>
		        <connection><use>core_write</use></connection>
		    </amzoom_write>
		    <amzoom_read>
		        <connection><use>core_read</use></connection>
		    </amzoom_read>
		</resources>
        <blocks>
            <amzoom>
                <class>Amasty_Zoom_Block</class>
            </amzoom>
			
            <catalog>
                <rewrite>
                    <product_view_media>Amasty_Zoom_Block_Catalog_Product_View_Media</product_view_media>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <amzoom>
                <class>Amasty_Zoom_Helper</class>
            </amzoom>
        </helpers>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <amzoom>
                        <class>amzoom/observer</class>
                        <method>onMediaHtmlAfter</method>
                    </amzoom>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <default>
        <amzoom>
           <general>
             <enable>1</enable>
           </general>
            <size>
                <thumb>72</thumb>
                <preview_width>265</preview_width>
                <preview_height>265</preview_height>
            </size>
            <zoom>
                <enable>1</enable>
                <type>lens</type>
                <change_main_img_with>click</change_main_img_with>
            </zoom>
            <zoom_settings>
                <viewer_position>1</viewer_position>
                <offset_x>10</offset_x>
                <offset_y>10</offset_y>
                <viewer_width>300</viewer_width>
                <viewer_height>300</viewer_height>
                <preloading>1</preloading>
                <fadein>1</fadein>
                <easing>1</easing>
                <scroll>1</scroll>
                <use_tint_effect>0</use_tint_effect>
                <tint_color>#F90</tint_color>
                <lens_size>200</lens_size>
            </zoom_settings>
            <carousel>
                <direction>0</direction>
                <enable>1</enable>
                <visible_items>3</visible_items>
                <circular>1</circular>
                <swipe>1</swipe>
                <mousewheel>1</mousewheel>
                <auto>0</auto>
                <pagination>1</pagination>
                <!--carousel_direction></carousel_direction-->
            </carousel>
            <lightbox>
                <enable>1</enable>
                <circular_lightbox>1</circular_lightbox>
                <title_position>float</title_position>
                <effect>fade</effect>
                <thumbnail_helper>1</thumbnail_helper>
                <thumbnail_lignhtbox>0</thumbnail_lignhtbox>
            </lightbox>
            <zoom_on_category_grid>
                    <enable>0</enable>
                    <viewer_width>400</viewer_width>
                    <viewer_height>400</viewer_height>
            </zoom_on_category_grid>
        </amzoom>
    </default>
</config>