<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_News>
            <version>1.0.0</version>
        </Bronto_News>
    </modules>
    <global>
        <blocks>
            <bronto_news>
                <class>Bronto_News_Block</class>
            </bronto_news>
        </blocks>
        <helpers>
            <bronto_news>
                <class>Bronto_News_Helper</class>
            </bronto_news>
        </helpers>
        <models>
            <bronto_news>
                <class>Bronto_News_Model</class>
                <resourceModel>bronto_news_mysql4</resourceModel>
            </bronto_news>
            <bronto_news_mysql4>
                <class>Bronto_News_Model_Mysql4</class>
                <entities>
                    <item>
                        <table>bronto_news_item</table>
                    </item>
                </entities>
            </bronto_news_mysql4>
        </models>
        <resources>
            <bronto_news_setup>
                <setup>
                    <module>Bronto_News</module>
                    <class>Bronto_News_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bronto_news_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <bronto_news>
                <use>standard</use>
                <args>
                    <module>Bronto_News</module>
                    <frontName>announcement</frontName>
                </args>
            </bronto_news>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_news before="Mage_Adminhtml">Bronto_News_Adminhtml</bronto_news>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bronto_news>
                    <file>bronto/news.xml</file>
                </bronto_news>
            </updates>
        </layout>
        <events>
            <bronto_token_model_save_after>
                <observers>
                    <bronto_news_bronto_token_save>
                        <class>bronto_news/observer</class>
                        <method>pullNewItems</method>
                    </bronto_news_bronto_token_save>
                </observers>
            </bronto_token_model_save_after>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <bronto_news_pull_items>
                <!-- Run once a day -->
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>bronto_news/observer::pullNewItems</model>
                </run>
            </bronto_news_pull_items>
        </jobs>
    </crontab>
    <default>
        <bronto_news>
            <feeds>
                <releases>http://app.bronto.com/public/?q=feed&amp;id=5jodwr23wmaolrs5mpw6gq91zofp0&amp;fn=Link&amp;ssid=30245</releases>
                <general>http://app.bronto.com/public/?q=feed&amp;id=bimy41imold5nrca83kyqcuvbtru9&amp;fn=Link&amp;ssid=30245</general>
                <threshold>5</threshold>
            </feeds>
        </bronto_news>
    </default>

    <phpunit>
        <suite>
            <modules>
                <Bronto_News/>
            </modules>
        </suite>
    </phpunit>
</config>
