<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Order>
            <version>1.1.8</version>
        </Bronto_Order>
    </modules>
    <global>
        <helpers>
            <bronto_order>
                <class>Bronto_Order_Helper</class>
            </bronto_order>
        </helpers>
        <blocks>
            <bronto_order>
                <class>Bronto_Order_Block</class>
            </bronto_order>
        </blocks>
        <models>
            <bronto_order>
                <class>Bronto_Order_Model</class>
                <resourceModel>bronto_order_mysql4</resourceModel>
            </bronto_order>
            <bronto_order_mysql4>
                <class>Bronto_Order_Model_Mysql4</class>
                <entities>
                    <queue>
                        <table>bronto_order_queue</table>
                    </queue>
                </entities>
            </bronto_order_mysql4>
        </models>
        <resources>
            <bronto_order_setup>
                <setup>
                    <module>Bronto_Order</module>
                    <class>Bronto_Order_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bronto_order_setup>
            <bronto_order_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bronto_order_write>
            <bronto_order_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bronto_order_read>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <bronto_order_sales_order_save_after>
                        <type>singleton</type>
                        <class>bronto_order/order_observer</class>
                        <method>markOrderForReimport</method>
                    </bronto_order_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            <sales_order_creditmemo_refund>
                <observers>
                    <bronto_order_sales_order_creditmemo_refund>
                        <type>singleton</type>
                        <class>bronto_order/order_observer</class>
                        <method>resetCreditMemoOrder</method>
                    </bronto_order_sales_order_creditmemo_refund>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_order_payment_cancel>
                <observers>
                    <bronto_order_sales_order_payment_cancel>
                        <type>singleton</type>
                        <class>bronto_order/order_observer</class>
                        <method>resetPaymentCancelOrder</method>
                    </bronto_order_sales_order_payment_cancel>
                </observers>
            </sales_order_payment_cancel>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <bronto_order>
                    <file>bronto/order.xml</file>
                </bronto_order>
            </updates>
        </layout>
        <events>
            <sales_quote_save_after>
                <observers>
                    <bronto_order_sales_quote_save_after>
                        <type>singleton</type>
                        <class>bronto_order/quote_observer</class>
                        <method>addTidToQuote</method>
                    </bronto_order_sales_quote_save_after>
                </observers>
            </sales_quote_save_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_order before="Mage_Adminhtml">Bronto_Order_Adminhtml</bronto_order>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <bronto_order>
            <settings>
                <enabled>0</enabled>
                <mage_cron>1</mage_cron>
                <frequency>D</frequency>
                <interval>15</interval>
                <minutes>0</minutes>
                <limit>250</limit>
                <sync_limit>1000</sync_limit>
                <bulk_limit>100</bulk_limit>
                <import_states>new,pending_payment,processing,complete,payment_review</import_states>
                <delete_states>closed,canceled,holded</delete_states>
            </settings>
            <import>
                <description>short_description</description>
                <price>display</price>
                <incl_discount>0</incl_discount>
                <incl_tax>0</incl_tax>
            </import>
        </bronto_order>
    </default>
    <crontab>
        <jobs>
            <bronto_order_import>
                <run>
                    <model>bronto_order/observer::processOrders</model>
                </run>
            </bronto_order_import>
        </jobs>
    </crontab>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <bronto_order_controller_action_predispatch>
                        <class>bronto_order/observer</class>
                        <method>checkBrontoRequirements</method>
                    </bronto_order_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Bronto_Order/>
            </modules>
        </suite>
    </phpunit>
</config>
