<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Newsletter>
            <version>1.4.7</version>
        </Bronto_Newsletter>
    </modules>
    <global>
        <helpers>
            <bronto_newsletter>
                <class>Bronto_Newsletter_Helper</class>
            </bronto_newsletter>
        </helpers>
        <blocks>
            <bronto_newsletter>
                <class>Bronto_Newsletter_Block</class>
            </bronto_newsletter>
        </blocks>
        <models>
            <bronto_newsletter>
                <class>Bronto_Newsletter_Model</class>
                <resourceModel>bronto_newsletter_mysql4</resourceModel>
            </bronto_newsletter>
            <bronto_newsletter_mysql4>
                <class>Bronto_Newsletter_Model_Mysql4</class>
                <entities>
                    <queue>
                        <table>bronto_newsletter_queue</table>
                    </queue>
                </entities>
            </bronto_newsletter_mysql4>
        </models>
        <resources>
            <bronto_newsletter_setup>
                <setup>
                    <module>Bronto_Newsletter</module>
                    <class>Bronto_Newsletter_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bronto_newsletter_setup>
            <bronto_newsletter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bronto_newsletter_write>
            <bronto_newsletter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bronto_newsletter_read>
        </resources>
        <events>
            <newsletter_subscriber_save_after>
                <observers>
                    <bronto_newsletter_newsletter_subscriber_save_after>
                        <class>bronto_newsletter/observer</class>
                        <method>updateBrontoFromNewsletterStatus</method>
                    </bronto_newsletter_newsletter_subscriber_save_after>
                </observers>
            </newsletter_subscriber_save_after>
        </events>
    </global>
    <frontend>
        <routers>
            <bronto_newsletter>
                <use>standard</use>
                <args>
                    <module>Bronto_Newsletter</module>
                    <frontName>btnewsletter</frontName>
                </args>
            </bronto_newsletter>
        </routers>
        <layout>
            <updates>
                <bronto_newsletter>
                    <file>bronto/newsletter.xml</file>
                </bronto_newsletter>
            </updates>
        </layout>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <bronto_newsletter_checkout_type_onepage_save_order_after>
                        <class>bronto_newsletter/observer</class>
                        <method>handleSubscriptionAtCheckout</method>
                    </bronto_newsletter_checkout_type_onepage_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </frontend>
    <default>
        <bronto_newsletter>
            <settings>
                <enabled>0</enabled>
                <mage_cron>1</mage_cron>
                <frequency>D</frequency>
                <interval>15</interval>
                <minutes>0</minutes>
                <limit>250</limit>
                <sync_limit>1000</sync_limit>
            </settings>
            <checkout>
                <show_to_guests>1</show_to_guests>
                <show_to_registrars>1</show_to_registrars>
                <show_to_loggedin>1</show_to_loggedin>
                <default_checked>0</default_checked>
                <show_if_subscribed>0</show_if_subscribed>
                <label_text>Sign up for our newsletter</label_text>
                <use_custom_template>0</use_custom_template>
                <billing_template>checkout/onepage/billing.phtml</billing_template>
                <css_selector>#billing_address</css_selector>
                <checkbox_style><![CDATA[
.col1-layout .billing_is_subscribed_box {
    margin-left: 240px !important;
    float:left;
    width:auto;
    margin: 2px 8px 0 0; }
.col1-layout #billing_subscribed_label {
    width: auto;
    text-align: left; }]]></checkbox_style>
            </checkout>
            <contacts>
                <update_status>1</update_status>
                <update_unsub>0</update_unsub>
            </contacts>
        </bronto_newsletter>
    </default>
    <adminhtml>
        <events>
            <bronto_newsletter_enable>
                <observers>
                    <bronto_newsletter_enable>
                        <type>singleton</type>
                        <class>bronto_newsletter/observer</class>
                        <method>watchEnableAction</method>
                    </bronto_newsletter_enable>
                </observers>
            </bronto_newsletter_enable>
            <controller_action_predispatch>
                <observers>
                    <bronto_newsletter_controller_action_predispatch>
                        <class>bronto_newsletter/observer</class>
                        <method>checkBrontoRequirements</method>
                    </bronto_newsletter_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_newsletter before="Mage_Adminhtml">Bronto_Newsletter_Adminhtml</bronto_newsletter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <fieldsets>
            <customer_account>
                <bronto_contact_id>
                    <create>1</create>
                </bronto_contact_id>
            </customer_account>
        </fieldsets>
    </admin>
    <crontab>
        <jobs>
            <bronto_newsletter_import>
                <run>
                    <model>bronto_newsletter/observer::processSubscribers</model>
                </run>
            </bronto_newsletter_import>
        </jobs>
    </crontab>

    <phpunit>
        <suite>
            <modules>
                <Bronto_Newsletter/>
            </modules>
        </suite>
    </phpunit>
</config>
