<?xml version="1.0"?>
<config>
	<modules>
        <Smartaddons_MegaProducts>
            <version>1.1</version>
        </Smartaddons_MegaProducts>
    </modules>
	<global>
		<models>
            <megaproducts>
                <class>Smartaddons_MegaProducts_Model</class>
            </megaproducts>
        </models>
		<blocks>
            <megaproducts>
                <class>Smartaddons_MegaProducts_Block</class>
            </megaproducts>            		
        </blocks>				
		<helpers>
            <megaproducts>
                <class>Smartaddons_MegaProducts_Helper</class>
            </megaproducts>
        </helpers>
	</global>
	<frontend>
        <routers>
			<megaproducts>
                <use>standard</use>
                <args>
                    <module>Smartaddons_MegaProducts</module>
                    <frontName>megaproducts</frontName>
                </args>
            </megaproducts>
        </routers>
		<layout>
            <updates>
                <megaproducts>
					<file>megaproducts.xml</file>
                </megaproducts>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Smartaddons_MegaProducts>
                     <files>
                          <default>Smartaddons_MegaProducts.csv</default>
                     </files>
                </Smartaddons_MegaProducts>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
		<layout>
            <updates>
                <megaproducts>
					<file>megaproducts.xml</file>
                </megaproducts>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Smartaddons_MegaProducts>
                     <files>
                          <default>Smartaddons_MegaProducts.csv</default>
                     </files>
                </Smartaddons_MegaProducts>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<megaproducts_cfg translate="title" module="megaproducts">
											<title>Mega Slider</title>
											<sort_order>150</sort_order>
										</megaproducts_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <megaproducts_cfg>
        	<general>
                <isenabled>1</isenabled>
                <title>Mega Products</title>
            </general>
            <product_selection>
            	<product_source>catalog</product_source>
            	<product_category>3</product_category>
            	<product_exclude></product_exclude>
            	<product_order_by></product_order_by>
            	<product_order_dir></product_order_dir>
            </product_selection>
			<module_setting>
				<module_width></module_width>
				<theme>theme1</theme>
			</module_setting>
			<category_setting>
				<columns_max>2</columns_max>
				<articles_max>6</articles_max>
				<columns_max_theme3>2</columns_max_theme3>
				<super_category_link>1</super_category_link>
				<super_category_link_target></super_category_link_target>
				<sub_category_link>1</sub_category_link>
				<list_subcategory>1</list_subcategory>
				<sub_category_title_maxchars>-1</sub_category_title_maxchars>
			</category_setting>
			
			<product_display_setting>
				<product_title_disp>1</product_title_disp>
				<product_title_linkable>1</product_title_linkable>
				<product_title_maxchars>-1</product_title_maxchars>
				<product_image_disp>1</product_image_disp>
				<product_image_linkable>1</product_image_linkable>
				<product_thumbnail_width>100</product_thumbnail_width>
				<product_thumbnail_height>100</product_thumbnail_height>
				<product_short_description_disp>1</product_short_description_disp>
				<product_short_description_maxchars>-1</product_short_description_maxchars>
				<product_readmore_disp>1</product_readmore_disp>
				<product_readmore_text>detail...</product_readmore_text>
				<product_viewall_disp>1</product_viewall_disp>
				<product_viewall_text>view all...</product_viewall_text>
				<product_details_page_link_disp>1</product_details_page_link_disp>
				<product_details_page_link_text>See details</product_details_page_link_text>
				<product_links_target></product_links_target>
				<product_price_disp>1</product_price_disp>
				<product_reviews_disp>1</product_reviews_disp>
				<product_stock_disp>1</product_stock_disp>
				<product_created_disp>1</product_created_disp>
				<tooltip_disp>1</tooltip_disp>
				<tooltip_width>360</tooltip_width>
				<tooltip_image_maxwidth>120</tooltip_image_maxwidth>
			</product_display_setting>
            <advanced>
            	<include_jquery>1</include_jquery>
            	<pretext></pretext>
            	<posttext></posttext>
            </advanced>
        </megaproducts_cfg>
    </default>
</config>