<?xml version="1.0"?>
<config>
    <modules>
        <Hm_Testimonial>
            <version>2.2.3</version>
        </Hm_Testimonial>
    </modules>
    <frontend>
		<secure_url>
			<testimonial>/testimonial/</testimonial>
		</secure_url>
        <routers>
            <testimonial>
                <use>standard</use>
                <args>
                    <module>Hm_Testimonial</module>
                    <frontName>testimonial</frontName>
                </args>
            </testimonial>
        </routers>
        <layout>
            <updates>
                <testimonial>
                    <file>testimonial.xml</file>
                </testimonial>
            </updates>
        </layout>
	<translate>
	    <modules>
		<Hm_Testimonial>
		    <files>
			<default>Hm_Testimonial.csv</default>
		    </files>
		</Hm_Testimonial>
	    </modules>
	</translate>	
    </frontend>
    <admin>
        <routers>
	    <testimonial>
		    <use>admin</use>
		    <args>
			    <module>Hm_Testimonial</module>
			    <frontName>testimonial</frontName>
		    </args>
	    </testimonial>
        </routers>
    </admin>
    <adminhtml>
		<translate>
		    <modules>
			<Hm_Testimonial>
			    <files>
				<default>Hm_Testimonial.csv</default>
			    </files>
			</Hm_Testimonial>
		    </modules>
		</translate>	
		<menu>
		    <testimonial module="testimonial">
			<title>Testimonials</title>
			<sort_order>71</sort_order>               
			<children>
			    <items module="testimonial">
				<title>Manage Testimonials</title>
				<sort_order>0</sort_order>
				<action>testimonial/adminhtml_testimonial</action>
			    </items>	
			     <configurations module="testimonial">
				<title>Configuration</title>
				<sort_order>1</sort_order>
				<action>adminhtml/system_config/edit/section/hm_testimonial</action>
			    </configurations>	    
			</children>
		    </testimonial>
		</menu>
		<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
						<Hm_Testimonial>
							<title>Testimonial Module</title>
							<sort_order>10</sort_order>
							<items module="testimonial" translate="title">
  									<title>Manage Product</title>
  									<sort_order>0</sort_order>
  							</items>  								
  							<configurations module="testimonial" translate="title">
		  							<title>Configurations</title>
					  				<sort_order>30</sort_order>
			  				</configurations>
						</Hm_Testimonial>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hm_testimonial>
                                            <title>Hello Magento Testimonial</title>
                                        </hm_testimonial>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>		
		<layout>
			<updates>
				<testimonial>
					<file>testimonial.xml</file>
				</testimonial>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <testimonial>
                <class>Hm_Testimonial_Model</class>
                <resourceModel>testimonial_mysql4</resourceModel>
            </testimonial>
            <testimonial_mysql4>
                <class>Hm_Testimonial_Model_Mysql4</class>
                <entities>
                    <testimonial>
                        <table>testimonial</table>
                    </testimonial>
                    <testimonial_store>
                        <table>testimonial_store</table>
                    </testimonial_store>                    
                </entities>
            </testimonial_mysql4>
        </models>
        <resources>
            <testimonial_setup>
                <setup>
                    <module>Hm_Testimonial</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </testimonial_setup>
            <testimonial_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testimonial_write>
            <testimonial_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testimonial_read>
        </resources>
        <blocks>
            <testimonial>
                <class>Hm_Testimonial_Block</class>
            </testimonial>
        </blocks>
        <helpers>
            <testimonial>
                <class>Hm_Testimonial_Helper</class>
            </testimonial>
        </helpers>
        <template>
            <email>
                <testimonial_email_email_template translate="label" module="contacts">
                    <label>Testimonial Email</label>
                    <file>testimonial_email.html</file>
                    <type>text</type>
                </testimonial_email_email_template>
            </email>
        </template>
		<events>
			<controller_front_init_before>
	            	<observers>
	                    <testimonial>
	                        <type>singleton</type>
	                        <class>Hm_Testimonial_Model_Observer</class>
	                        <method>checkLicense</method>
	                    </testimonial>
	                </observers>
			</controller_front_init_before>    
		</events>
    </global>
    <default>
		<hm_testimonial>
			<general>
				<enable>0</enable>
				<maxword>30</maxword>
				<delay>4000</delay>
				<width>160</width>
				<height>160</height>
				<slider>fadeZoom</slider>
				<heightslide>400</heightslide>
				<allow_media>1</allow_media>
				<allow_media_popup>1</allow_media_popup>
				<total>5</total>
				<maxfilesize>0</maxfilesize>
			</general>
			<email>
				<template_email>testimonial_email_email_template</template_email>
			</email>			
		</hm_testimonial>
    </default>    
</config>