<?xml version="1.0"?>
<config>
    <modules>
        <Magebassi_Mbimageslider>
            <version>1.0.0</version>
        </Magebassi_Mbimageslider>
    </modules>
    <global>
        <helpers>
            <mbimageslider>
                <class>Magebassi_Mbimageslider_Helper</class>
            </mbimageslider>
        </helpers>		
		<models>
            <mbimageslider>
                <class>Magebassi_Mbimageslider_Model</class>
                <resourceModel>mbimageslider_mysql4</resourceModel>
            </mbimageslider>
            <mbimageslider_mysql4>
                <class>Magebassi_Mbimageslider_Model_Mysql4</class>
                <entities>
					<mbslider> <!-- Database Table identifier -->
                        <table>magebassi_mbslider</table>
                    </mbslider>
                    <mbimageslider>
                        <table>magebassi_mbimageslider</table>
                    </mbimageslider>					
					<mbgroups>
						<table>magebassi_mbgroups</table>
					</mbgroups>
					<mbseclist>
						<table>magebassi_mbseclist</table>
					</mbseclist>
					<mbcmspages>
						<table>magebassi_mbcmspages</table>
					</mbcmspages>					
					<mbcatpages>
						<table>magebassi_mbcategorypages</table>
					</mbcatpages>
					<mbproductpages>
						<table>magebassi_mbproductpages</table>
					</mbproductpages>
					<mbgroupstores>
						<table>magebassi_mbgroupstores</table>
					</mbgroupstores>					
                </entities>
            </mbimageslider_mysql4>
        </models>		
		
		<blocks>
			<mbimageslider>
				<class>Magebassi_Mbimageslider_Block</class>
			</mbimageslider>
		</blocks>
        <resources>
            <mbimageslider_setup>
                <setup>
                    <module>Magebassi_Mbimageslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mbimageslider_setup>
            <mbimageslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mbimageslider_write>
            <mbimageslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mbimageslider_read>
        </resources>
    </global>
	<default>
        <mbimageslider>
            <general>
                <enabled>1</enabled>
				<style>random</style>
				<thumbnails>thumbnail</thumbnails>
				<slidingtime>2</slidingtime>
				<slidingeffecttime>1</slidingeffecttime>
				<loader>pie</loader>
				<navigation>1</navigation>
				<imagewidth>684</imagewidth>
				<imageheight>342</imageheight>
				<description>1</description>				
            </general>			
        </mbimageslider>		
    </default>
    <frontend>		
		<routers>
            <mbimageslider>
                <use>standard</use>
                <args>
                    <module>Magebassi_Mbimageslider</module>
                    <frontName>mbimageslider</frontName>
                </args>
            </mbimageslider>
        </routers>	
        <layout>
            <updates>
                <mbimageslider>
                    <file>mbimageslider.xml</file>
                </mbimageslider>
            </updates>
        </layout>
    </frontend>    
	
	<admin>
		<routers>
			<mbimageslider>
				<use>admin</use>
				<args>
					<module>Magebassi_Mbimageslider</module>
					<frontName>mbimageslider</frontName>
				</args>
			</mbimageslider>
		</routers>
	</admin>
	
	<adminhtml>		
		<layout>
			<updates>
				<mbimageslider>
					<file>mbimageslider.xml</file>
				</mbimageslider>
			</updates>
		</layout>
    </adminhtml>	
</config>