<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Common>
            <version>2.4.4</version>
        </Bronto_Common>
    </modules>
    <global>
        <blocks>
            <bronto_common>
                <class>Bronto_Common_Block</class>
            </bronto_common>
        </blocks>
        <helpers>
            <bronto_common>
                <class>Bronto_Common_Helper</class>
            </bronto_common>
        </helpers>
        <models>
            <bronto_common>
                <class>Bronto_Common_Model</class>
                <resourceModel>bronto_common_mysql4</resourceModel>
            </bronto_common>
            <bronto_common_mysql4>
              <class>Bronto_Common_Model_Mysql4</class>
              <entities>
                  <api>
                      <table>bronto_common_api</table>
                  </api>
                  <error>
                      <table>bronto_common_api_errors</table>
                  </error>
                  <queue>
                      <table>bronto_common_api_send_queue</table>
                  </queue>
              </entities>
            </bronto_common_mysql4>
        </models>
        <resources>
            <bronto_common_setup>
                <setup>
                    <module>Bronto_Common</module>
                    <class>Bronto_Common_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bronto_common_setup>
        </resources>
        <events>
          <controller_action_predispatch>
              <observers>
                  <bronto_coupon_session_set>
                      <type>singleton</type>
                      <class>bronto_common/coupon_observer</class>
                      <method>addCodeToSession</method>
                  </bronto_coupon_session_set>
              </observers>
          </controller_action_predispatch>
          <checkout_cart_product_add_after>
              <observers>
                  <bronto_coupon_session_add_product>
                      <type>singleton</type>
                      <class>bronto_common/coupon_observer</class>
                      <method>addCodeToQuote</method>
                  </bronto_coupon_session_add_product>
              </observers>
          </checkout_cart_product_add_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <bronto_common>
                    <file>bronto/common.xml</file>
                </bronto_common>
            </updates>
        </layout>
        <routers>
            <bronto_coupon>
                <use>standard</use>
                <args>
                    <module>Bronto_Common</module>
                    <frontName>apply</frontName>
                </args>
            </bronto_coupon>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_common before="Mage_Adminhtml">Bronto_Common_Adminhtml</bronto_common>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bronto_common>
                    <file>bronto/common.xml</file>
                </bronto_common>
            </updates>
        </layout>
        <events>
            <bronto_disable>
                <observers>
                    <bronto_common_disable>
                        <class>bronto_common/observer</class>
                        <method>watchDisableAction</method>
                    </bronto_common_disable>
                </observers>
            </bronto_disable>
            <controller_action_predispatch>
                <observers>
                    <bronto_common_controller_action_predispatch>
                        <class>bronto_common/observer</class>
                        <method>checkBrontoRequirements</method>
                    </bronto_common_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <bronto_common_registration_form_submit>
                        <class>bronto_common/observer</class>
                        <method>registerExtension</method>
                    </bronto_common_registration_form_submit>
                </observers>
            </controller_action_predispatch_adminhtml>
        </events>
    </adminhtml>
    <default>
        <bronto>
            <settings>
                <enabled>1</enabled>
                <debug>1</debug>
                <log_threshold>30</log_threshold>
                <clear_logs>1</clear_logs>
                <verbose>0</verbose>
                <test>0</test>
                <notices>0</notices>
            </settings>
            <format>
                <image_type>image</image_type>
                <default_greeting>Valued Customer</default_greeting>
                <default_greeting_prefix></default_greeting_prefix>
                <default_greeting_firstname></default_greeting_firstname>
                <default_greeting_lastname></default_greeting_lastname>
            </format>
            <support>
                <registered>0</registered>
                <using_solution_partner>1</using_solution_partner>
            </support>
        </bronto>
        <bronto_popup>
            <settings>
                <subscribe>0</subscribe>
            </settings>
        </bronto_popup>
        <bronto_coupon>
            <apply_coupon>
                <enabled>0</enabled>
                <use_observer>1</use_observer>
                <coupon_code_param>coupon</coupon_code_param>
                <error_message_param>invalid_coupon</error_message_param>
                <success_message><![CDATA[Coupon {code} was successfully applied to your shopping session.]]></success_message>
                <invalid><![CDATA[The Coupon {code} is invalid.]]></invalid>
                <depleted><![CDATA[The Coupon {code} has been depleted.]]></depleted>
                <expired><![CDATA[The Coupon {code} has expired.]]></expired>
                <conflict><![CDATA[Your shopping session already has coupon {oldCode} applied. {link} to apply {newCode} instead.]]></conflict>
                <link>Click here</link>
            </apply_coupon>
        </bronto_coupon>
        <bronto_api>
            <settings>
                <enabled>0</enabled>
                <mage_cron>1</mage_cron>
                <frequency>I</frequency>
                <interval>5</interval>
                <minutes>0</minutes>
                <limit>50</limit>
                <threshold>5</threshold>
            </settings>
            <queue_settings>
                <enabled>0</enabled>
                <mage_cron>1</mage_cron>
                <frequency>I</frequency>
                <interval>5</interval>
                <minutes>0</minutes>
                <limit>50</limit>
            </queue_settings>
            <soap_options>
                <soap_client>SoapClient</soap_client>
                <retryer>Bronto_Common_Model_Error</retryer>
                <stream_context>0</stream_context>
                <retry_limit>2</retry_limit>
                <trace>0</trace>
                <exceptions>1</exceptions>
                <connection_timeout>30</connection_timeout>
                <cache_wsdl>WSDL_CACHE_BOTH</cache_wsdl>
            </soap_options>
        </bronto_api>
    </default>
    <crontab>
        <jobs>
            <bronto_common_errors>
                <run>
                    <model>bronto_common/observer::processApiErrors</model>
                </run>
            </bronto_common_errors>
            <bronto_common_queue>
                <run>
                    <model>bronto_common/observer::processSendQueue</model>
                </run>
            </bronto_common_queue>
            <bronto_common_delete_archives>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>bronto_common/observer::clearArchives</model>
                </run>
            </bronto_common_delete_archives>
            <bronto_common_delete_old_logs>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>bronto_common/observer::clearOldLogs</model>
                </run>
            </bronto_common_delete_old_logs>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Bronto_Common/>
            </modules>
        </suite>
    </phpunit>
</config>
