<?xml version="1.0"?>
<config>
    <modules>
        <Watsons_TrackingPixels>
            <version>0.1.0</version>
        </Watsons_TrackingPixels>
    </modules>
    <global>
        <models>
            <watsons_trackingpixels>
                <class>Watsons_TrackingPixels_Model</class>
                <resourceModel>watsons_trackingpixels_resource</resourceModel>
            </watsons_trackingpixels>
            <watsons_trackingpixels_resource>
                <class>Watsons_TrackingPixels_Model_Resource</class>
            </watsons_trackingpixels_resource>
        </models>
        <blocks>
            <watsons_trackingpixels>
                <class>Watsons_TrackingPixels_Block</class>
            </watsons_trackingpixels>
        </blocks>
        <helpers>
            <watsons_trackingpixels>
                <class>Watsons_TrackingPixels_Helper</class>
            </watsons_trackingpixels>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <watsons_trackingpixels>
                    <file>watsons_trackingpixels.xml</file>
                </watsons_trackingpixels>
            </updates>
        </layout>
    </frontend>
</config>