<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Product>
            <version>1.0.1</version>
        </Bronto_Product>
    </modules>
    <global>
        <blocks>
            <bronto_product>
                <class>Bronto_Product_Block</class>
            </bronto_product>
        </blocks>
        <helpers>
            <bronto_product>
                <class>Bronto_Product_Helper</class>
            </bronto_product>
        </helpers>
        <models>
            <bronto_product>
                <class>Bronto_Product_Model</class>
                <resourceModel>bronto_product_mysql4</resourceModel>
            </bronto_product>
            <bronto_product_mysql4>
              <class>Bronto_Product_Model_Mysql4</class>
              <entities>
                  <recommendation>
                      <table>bronto_product_recommendation</table>
                  </recommendation>
              </entities>
            </bronto_product_mysql4>
        </models>
        <resources>
            <bronto_product_setup>
                <setup>
                    <module>Bronto_Product</module>
                    <class>Bronto_Product_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bronto_product_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_product before="Mage_Adminhtml">Bronto_Product_Adminhtml</bronto_product>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <bronto_product>
            <settings>
                <enabled>0</enabled>
                <mage_cron>1</mage_cron>
                <frequency>D</frequency>
                <interval>15</interval>
                <minutes>0</minutes>
                <description>short_description</description>
                <char_limit>100</char_limit>
            </settings>
        </bronto_product>
    </default>
    <crontab>
        <jobs>
            <bronto_product_parse_tag>
                <run>
                    <model>bronto_product/observer::processContentTags</model>
                </run>
            </bronto_product_parse_tag>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Bronto_Product/>
            </modules>
        </suite>
    </phpunit>
</config>
