<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Reviews>
            <version>0.1.0</version>
        </Bronto_Reviews>
    </modules>
    <global>
        <helpers>
            <bronto_reviews>
                <class>Bronto_Reviews_Helper</class>
            </bronto_reviews>
        </helpers>
        <blocks>
            <bronto_reviews>
                <class>Bronto_Reviews_Block</class>
            </bronto_reviews>
        </blocks>
        <models>
            <bronto_reviews>
                <class>Bronto_Reviews_Model</class>
                <resourceModel>bronto_reviews_mysql4</resourceModel>
            </bronto_reviews>
            <bronto_reviews_mysql4>
                <class>Bronto_Reviews_Model_Mysql4</class>
                <entities>
                    <queue>
                        <table>bronto_reviews_queue</table>
                    </queue>
                    <post_purchase>
                        <table>bronto_reviews_post_purchase</table>
                    </post_purchase>
                    <log>
                        <table>bronto_reviews_log</table>
                    </log>
                </entities>
            </bronto_reviews_mysql4>
        </models>
        <resources>
            <bronto_reviews_setup>
                <setup>
                    <module>Bronto_Reviews</module>
                    <class>Bronto_Reviews_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bronto_reviews_setup>
            <bronto_reviews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bronto_reviews_write>
            <bronto_reviews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bronto_reviews_read>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <bronto_reviews_sales_order_save_after>
                        <type>singleton</type>
                        <class>bronto_reviews/observer</class>
                        <method>processPostOrders</method>
                    </bronto_reviews_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            <catalog_product_delete_before>
                <observers>
                    <bronto_reviews_catalog_product_delete_after>
                        <type>singleton</type>
                        <class>bronto_reviews/observer</class>
                        <method>deletePostPurchaseInfo</method>
                    </bronto_reviews_catalog_product_delete_after>
                </observers>
            </catalog_product_delete_before>
            <bronto_common_email_filter_unknown>
                <observers>
                    <bronto_reviews_post_product_tags>
                        <type>singleton</type>
                        <class>bronto_reviews/observer</class>
                        <method>filterPostPurchase</method>
                    </bronto_reviews_post_product_tags>
                </observers>
            </bronto_common_email_filter_unknown>
            <bronto_common_queue_save_after>
                <observers>
                    <bronto_reviews_log_creation>
                        <type>singleton</type>
                        <class>bronto_reviews/observer</class>
                        <method>afterQueueSave</method>
                    </bronto_reviews_log_creation>
                </observers>
            </bronto_common_queue_save_after>
        </events>
        <blocks>
          <bronto_reviews>Bronto_Reviews_Block</bronto_reviews>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_reviews before="Mage_Adminhtml">Bronto_Reviews_Adminhtml</bronto_reviews>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bronto_reviews>
                    <file>bronto/reviews.xml</file>
                </bronto_reviews>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <bronto_post_purchase_save>
                        <type>singleton</type>
                        <class>bronto_reviews/observer</class>
                        <method>productPrepareSave</method>
                    </bronto_post_purchase_save>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>
    <default>
        <bronto_reviews>
            <general>
                <time_of_day>-1</time_of_day>
                <conncurrent_limit>-1</conncurrent_limit>
            </general>
            <settings>
                <enabled>0</enabled>
                <status>complete</status>
                <cancel_status>closed</cancel_status>
                <url_suffix>#review-form</url_suffix>
                <period>14</period>
                <adjustment>0</adjustment>
                <message></message>
                <identity>general</identity>
                <sender_email></sender_email>
                <sender_name></sender_name>
                <reply_to></reply_to>
            </settings>
            <reorder>
                <enabled>0</enabled>
                <status>complete</status>
                <cancel_status>closed</cancel_status>
                <period>30</period>
                <multipler>1</multipler>
                <adjustment>0</adjustment>
                <identity>general</identity>
            </reorder>
            <caretip>
                <enabled>0</enabled>
                <status>complete</status>
                <cancel_status>closed</cancel_status>
                <period>7</period>
                <adjustment>0</adjustment>
                <send_limit>-1</send_limit>
                <identity>general</identity>
            </caretip>
        </bronto_reviews>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Bronto_Reviews/>
            </modules>
        </suite>
    </phpunit>
</config>
