<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Email>
            <version>1.2.2</version>
        </Bronto_Email>
    </modules>
    <global>
        <helpers>
            <bronto_email>
                <class>Bronto_Email_Helper</class>
            </bronto_email>
        </helpers>
        <blocks>
            <bronto_email>
                <class>Bronto_Email_Block</class>
            </bronto_email>
        </blocks>
        <models>
            <bronto_email>
                <class>Bronto_Email_Model</class>
                <resourceModel>bronto_email_mysql4</resourceModel>
            </bronto_email>
            <bronto_email_mysql4>
                <class>Bronto_Email_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>bronto_email_log</table>
                    </log>
                    <template>
                        <table>core_email_template</table>
                    </template>
                    <message>
                        <table>bronto_email_template</table>
                    </message>
                </entities>
            </bronto_email_mysql4>
            <core>
                <rewrite>
                    <email_template>Bronto_Email_Model_Template</email_template>
                    <email_template_mailer>Bronto_Email_Model_Template_Mailer</email_template_mailer>
                </rewrite>
            </core>
            <adminhtml>
                <rewrite>
                    <system_config_source_email_template>Bronto_Email_Model_System_Config_Source_Email_Template</system_config_source_email_template>
                </rewrite>
            </adminhtml>
        </models>
        <resources>
            <bronto_email_setup>
                <setup>
                    <module>Bronto_Email</module>
                    <class>Bronto_Email_Model_Resource_Setup</class>
                </setup>
            </bronto_email_setup>
            <bronto_email_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bronto_email_write>
            <bronto_email_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bronto_email_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_email before="Mage_Adminhtml">Bronto_Email_Adminhtml</bronto_email>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <bronto_email>
            <settings>
                <enabled>0</enabled>
                <use_bronto>0</use_bronto>
                <log_enabled>1</log_enabled>
                <log_fields_enabled>1</log_fields_enabled>
            </settings>
        </bronto_email>
    </default>
    <adminhtml>
        <events>
            <bronto_email_enable>
                <observers>
                    <bronto_email_enable>
                        <type>singleton</type>
                        <class>bronto_email/observer</class>
                        <method>watchEnableAction</method>
                    </bronto_email_enable>
                    <bronto_move_templates>
                        <type>singleton</type>
                        <class>bronto_email/observer</class>
                        <method>moveOldTemplates</method>
                    </bronto_move_templates>
                </observers>
            </bronto_email_enable>
            <controller_action_predispatch>
                <observers>
                    <bronto_email_controller_action_predispatch>
                        <class>bronto_email/observer</class>
                        <method>checkBrontoRequirements</method>
                    </bronto_email_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <bronto_email_controller_action_postdispatch_adminhtml_system_config_save>
                        <type>singleton</type>
                        <class>bronto_email/observer</class>
                        <method>saveDynamicField</method>
                    </bronto_email_controller_action_postdispatch_adminhtml_system_config_save>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
        </events>
        <layout>
            <updates>
                <bronto_email>
                    <file>bronto/email.xml</file>
                </bronto_email>
            </updates>
        </layout>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Bronto_Email/>
            </modules>
        </suite>
    </phpunit>
</config>
