<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Reminder>
            <version>1.4.18</version>
        </Bronto_Reminder>
    </modules>
    <global>
        <helpers>
            <bronto_reminder>
                <class>Bronto_Reminder_Helper</class>
            </bronto_reminder>
        </helpers>
        <blocks>
            <bronto_reminder>
                <class>Bronto_Reminder_Block</class>
            </bronto_reminder>
        </blocks>
        <models>
            <bronto_reminder>
                <class>Bronto_Reminder_Model</class>
                <resourceModel>bronto_reminder_mysql4</resourceModel>
            </bronto_reminder>
            <bronto_reminder_mysql4>
                <class>Bronto_Reminder_Model_Mysql4</class>
                <entities>
                    <rule>
                        <table>bronto_reminder_rule</table>
                    </rule>
                    <website>
                        <table>bronto_reminder_rule_website</table>
                    </website>
                    <message>
                        <table>bronto_reminder_message</table>
                    </message>
                    <coupon>
                        <table>bronto_reminder_rule_coupon</table>
                    </coupon>
                    <log>
                        <table>bronto_reminder_rule_log</table>
                    </log>
                    <delivery>
                        <table>bronto_reminder_delivery_log</table>
                    </delivery>
                    <guest>
                        <table>bronto_guest_emails</table>
                    </guest>
                </entities>
            </bronto_reminder_mysql4>
        </models>
        <resources>
            <bronto_reminder_setup>
                <setup>
                    <module>Bronto_Reminder</module>
                    <class>Bronto_Reminder_Model_Resource_Setup</class>
                </setup>
            </bronto_reminder_setup>
            <bronto_reminder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bronto_reminder_write>
            <bronto_reminder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bronto_reminder_read>
        </resources>
        <events>
            <salesrule_rule_get_coupon_types>
                <observers>
                    <bronto_reminder>
                        <class>bronto_reminder/observer</class>
                        <method>getCouponTypes</method>
                    </bronto_reminder>
                </observers>
            </salesrule_rule_get_coupon_types>
            <adminhtml_promo_quote_edit_tab_main_prepare_form>
                <observers>
                    <bronto_reminder>
                        <class>bronto_reminder/observer</class>
                        <method>updatePromoQuoteTabMainForm</method>
                    </bronto_reminder>
                </observers>
            </adminhtml_promo_quote_edit_tab_main_prepare_form>
        </events>
    </global>
    <default>
        <bronto_reminder>
            <settings>
                <enabled>0</enabled>
                <log_enabled>1</log_enabled>
                <log_fields_enabled>1</log_fields_enabled>
                <mage_cron>1</mage_cron>
                <frequency>I</frequency>
                <interval>15</interval>
                <minutes>0</minutes>
                <limit>100</limit>
                <threshold>5</threshold>
                <identity>general</identity>
            </settings>
        </bronto_reminder>
    </default>
    <frontend>
        <routers>
            <bronto_reminder>
                <use>standard</use>
                <args>
                    <module>Bronto_Reminder</module>
                    <frontName>reminder</frontName>
                </args>
            </bronto_reminder>
        </routers>
        <events>
            <sales_quote_save_after>
                <observers>
                    <bronto_reminder_update_reminder_queue>
                        <class>bronto_reminder/observer</class>
                        <method>updateReminderQueue</method>
                    </bronto_reminder_update_reminder_queue>
                </observers>
            </sales_quote_save_after>
            <wishlist_save_after>
                <observers>
                    <bronto_reminder_update_reminder_queue>
                        <class>bronto_reminder/observer</class>
                        <method>updateReminderQueue</method>
                    </bronto_reminder_update_reminder_queue>
                </observers>
            </wishlist_save_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bronto_reminder before="Mage_Adminhtml">Bronto_Reminder_Adminhtml</bronto_reminder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <bronto_reminder_enable>
                <observers>
                    <bronto_reminder_enable>
                        <type>singleton</type>
                        <class>bronto_reminder/observer</class>
                        <method>watchEnableAction</method>
                    </bronto_reminder_enable>
                </observers>
            </bronto_reminder_enable>
            <controller_action_predispatch>
                <observers>
                    <bronto_reminder_controller_action_predispatch>
                        <class>bronto_reminder/observer</class>
                        <method>checkBrontoRequirements</method>
                    </bronto_reminder_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
        <layout>
            <updates>
                <bronto_reminder>
                    <file>bronto/reminder.xml</file>
                </bronto_reminder>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <bronto_reminder_send_notification>
                <run>
                    <model>bronto_reminder/observer::scheduledNotification</model>
                </run>
            </bronto_reminder_send_notification>
        </jobs>
    </crontab>

    <phpunit>
        <suite>
            <modules>
                <Bronto_Reminder/>
            </modules>
        </suite>
    </phpunit>
</config>
